
body {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    display: inline-block;
    width: 100%;
}

#sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
  }
  
#sign_in {
    color:white;
}
 
#menu-grid {
    display: block;
    box-sizing: border-box;
    margin: 8px 20px;
    height: 17px;
    width: 17px;
  }

#nav_bar #sign_in {
    background: #4887ef;
    padding: 10px 15px;
    border-radius: 4px; 
    font-weight: bold;
}

.grid-item-left {
    float: left;
 }

.grid-item-right {
    float: right;
}

footer ul {
    font-size: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

li {
    float: left;
}

a:hover {
    text-decoration-line: underline;
}

input:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.google_search, .lucky {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    
}



.buttons {
    text-align: center;
    padding-top: 20px;
    display: block;
}


 a {
     display: inline-block;
     padding: 10px;
     text-decoration: none;
     color: black;
 }

.logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.search {
    font-size: 16px;
    border-radius: 50px;
    border: 0.5px solid lightgray;
    padding: 15px;
    width: 415px;
}
.search:hover { 
    box-shadow: 1px 1px 5px #999;
}

.search-bar {
    text-align: center;
    margin-top: 10px;
    border: none;
}


input.search { 
    background-image: url("google-transparent-microphone.png");
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: 24px 24px;

}


footer {
    width: 100%;
}
  
.bottom-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 27px;
    background-color: #f2f2f2;
    color: white;
    text-align: center;
   
}









 





