.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

 a {
     display: block;
     padding: 10px;
 }

.button {
    display: block;
    padding: 20px;
}